.layer-select {
  min-width: 170px;
}

.button-icon-svg {
    width: 35px;
    height: 35px;

  }

  .button-icon-svg:hover {
    opacity: 0.5
  }

  .has-fill-primary {
    fill: #465d80;
  }

  .button-icon {
    margin-top: 25px;
    background-color: white;
    border-color: #dbdbdb;
    border-width: 1px;
    color: #6c7480;
    cursor: pointer;
    justify-content: center;
    padding-bottom: calc(0.375em - 1px);
    padding-left: 0.75em;
    padding-right: 0.75em;
    padding-top: calc(0.375em - 1px);
    text-align: center;
    white-space: nowrap;
    -moz-appearance: none;
    -webkit-appearance: none;
    align-items: center;
    border: 1px solid transparent;
    border-radius: 4px;
    box-shadow: none;
    display: inline-flex;
    font-size: 1rem;
    height: 2.25em;
    justify-content: flex-start;
    line-height: 1.5;
    padding-bottom: calc(0.375em - 1px);
    padding-left: calc(0.625em - 1px);
    padding-right: calc(0.625em - 1px);
    padding-top: calc(0.375em - 1px);
    position: relative;
    vertical-align: top;
  }

  .button-icon:hover {

    background-color: #ffffff;
  }